@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);

#header4-0 H1 {
  color: #b8312f;
}
#header4-0 P {
  color: #475577;
}
#msg-box4-1 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1 .mbr-article {
  color: #ffffff;
}
#msg-box4-2 .mbr-header__text {
  color: #b8312f;
}
#msg-box4-2 .mbr-header__subtext {
  color: #2969b0;
}
#msg-box4-2 .mbr-article {
  color: #2969b0;
}
#msg-box4-3 .mbr-header__text {
  color: #b8312f;
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box4-3 .mbr-header__subtext {
  color: #000000;
}
#msg-box4-3 .mbr-article {
  color: #000000;
}
#msg-box4-4 .mbr-header__text {
  color: #b8312f;
}
#msg-box4-4 .mbr-header__subtext {
  color: #000000;
}
#msg-box4-4 .mbr-article {
  color: #28324e;
}
#msg-box4-5 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-5 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-5 .mbr-article {
  color: #ffffff;
}
#msg-box4-6 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-6 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6 .mbr-article {
  color: #ffffff;
}
#msg-box4-7 .mbr-header__text {
  color: #b8312f;
}
#msg-box4-7 .mbr-header__subtext {
  color: #475577;
}
#msg-box4-7 .mbr-article {
  color: #28324e;
}
#features1-l P {
  color: #2969b0;
  text-align: center;
}
#features1-l .mbr-section-title .mbr-header__text {
  color: #b8312f;
}
#features1-o P {
  color: #2969b0;
  text-align: center;
}


#msg-box4-p .mbr-header__text {
  color: #f7da64;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}
#msg-box4-p .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-p .mbr-article {
  color: #ffffff;
}
#features1-q .mbr-section-title .mbr-header__text {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
}
#features1-q .mbr-header__subtext {
  color: #000000;
}
#features1-q .mbr-section__col .mbr-header__text {
  color: #f7da64;
}
#features1-q P {
  color: #ffffff;
  font-size: 12px;
}
#features1-r .mbr-section__col .mbr-header__text {
  color: #2969b0;
}
#features1-r P {
  color: #ffffff;
  font-size: 12px;
}
#features1-s .mbr-section__col .mbr-header__text {
  color: #f7da64;
}
#features1-s .mbr-header__subtext {
  color: #f7da64;
}
#features1-t P {
  font-size: 12px;
  color: #ffffff;
}
#features1-t .mbr-section__col .mbr-header__text {
  color: #553982;
}
#features1-u .mbr-section__col .mbr-header__text {
  color: #000000;
}
#features1-u P {
  color: #ffffff;
  font-size: 12px;
}
#features1-v .mbr-section__col .mbr-header__text {
  color: #f7da64;
}
#features1-v P {
  color: #ffffff;
  font-size: 12px;
}
#features1-y P {
  color: #ffffff;
  font-size: 12px;
}
